{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>About Us - Expardec</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Marcellus:wght@400&display=swap" rel="stylesheet">

  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">

  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

</head>

<body class="about-page">

  <header id="header" class="header d-flex align-items-center position-relative">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="{% url 'index' %}" class="logo d-flex align-items-center">
        <img src="{% static 'assets/img/logo.png' %}" alt="Expardec">
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About Us</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
      <div class="language-switcher" style="margin-left: 3cm;">
        <button class="btn btn-success btn-sm me-2" onclick="window.location.href='/about'" style="min-width: 90px; font-size: 14px; border-radius: 15px;">
          ENGLISH
        </button>
        <button class="btn btn-outline-success btn-sm" onclick="window.location.href='/about_es/'" style="min-width: 90px; font-size: 14px; border-radius: 15px;">
          ESPAÑOL
        </button>
      </div>

    </div>
  </header>

  <main class="main">

    <div class="page-title dark-background" data-aos="fade" style="background-image: url(assets/img/page-title-bg.webp);">
      <div class="container position-relative">
        <h1>About Us</h1>        
      </div>
    </div>

    <section id="about-3" class="about-3 section">

      <div class="container">
        <div style="text-align: center">
          <p>
            <strong>EXPARDEC</strong> is a social enterprise based in southern Ecuador that seeks to transform shrimp aquaculture into a more just, ecological, and human-centered practice. Our name stands for <strong>Expanding partnerships for dignity, ecological balance, and circular economy</strong>. 
          </p>
          <p>
            We aim to build a model that <strong>empowers artisanal farmers, protects mangrove ecosystems</strong>, and <strong>promotes a fairer and more resilient blue economy</strong>.
          </p>
          <p>
            At EXPARDEC, we believe the future of aquaculture is not about producing more, but about producing better. Through <strong>fair trade, value addition</strong>, and <strong>capacity building</strong>, we strive to elevate artisanal aquaculture as a <strong>premium and sustainable alternative</strong>.
          </p>
          <p>
            Our goal is to promote a system that avoids oversaturation, supports price stability, and protects both <strong>livelihoods and coastal ecosystems</strong>.
          </p>
          <p>
            We are not here to compete for volume, we’re here to grow with <strong>purpose, dignity, and impact</strong>.
          </p>
      </div>
      </div>
    </section>

  </main>

  <footer id="footer" class="footer dark-background">

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6 footer-about">
            <a href="{% url 'index' %}" class="logo d-flex align-items-center">
              <span class="sitename">EXPARDEC</span>
            </a>
            <div class="footer-contact pt-3">
              <p>Puerto Jeli, El Oro</p>
              <p>Ecuador</p>
              <p><strong>Email:</strong> <span>ecuadorexpardec21@gmail.com</span></p>
            </div>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="{% url 'index' %}" class="active">Home</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <br>

    <div style="text-align: center">
      <p>
        © Copyright <strong><span>EXPARDEC</span></strong> All Rights Reserved
      </p>
      <p>
        Built by NirutG
      </p>
      <br>
    </div>

  </footer>

  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>

  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>